body *,
body {
  margin: 0;
  padding: 0;
}

.mainContainer {
  width: 900px;
  margin: 20px auto;
}

.inputForm {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  width: 500px;
  margin: 20px auto;
  box-sizing: border-box;
}

.addNoteInput {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  overflow: hidden;
  resize: none;
  word-wrap: break-word;
}

.hiddendiv {
  position: absolute;
  visibility: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.addNoteInput:focus {
  outline: none;
}

.buttonContainer {
  display: inline-flex;
  width: max-content;
}

.formButton {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: none;
  padding: 2px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 40px;
  font-size: 17px;
}

.formButton .svg-inline--fa {
  opacity: 0.5;
}

.formButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.formButton:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.colorBtnWrapper,
.notificationBtnWrapper {
  position: relative;
  width: max-content;
}

.notificationEdit {
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  z-index: 2;
}

.notificationEdit p {
  padding: 15px 20px;
}

.notificationEdit .formButton {
  width: auto;
  height: auto;
  padding: 10px 15px;
  margin: 10px;
}

.error {
  background-color: tomato;
  padding: 10px;
}

.existNotificationWrapper .formButton {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  width: auto;
  height: auto;
  display: inline-flex;
  margin: 5px 10px;
}

.diminished {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.existNotificationWrapper .formButton:hover .diminished {
  width: 20px;
}

.existNotificationWrapper .formButton:hover .deleteNotification {
  display: flex;
}

.deleteNotification {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  right: 2px;
  border-radius: 100px;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0px !important;
  cursor: pointer;
}

.deleteNotification:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.existNotificationWrapper .formButton * {
  padding: 0 5px;
}

.colorBtnWrapper:hover .colorPalette {
  visibility: visible;
  opacity: 1;
}

.colorPalette {
  opacity: 0;
  visibility: hidden;
  width: 137px;
  flex-wrap: wrap;
  display: flex;
  position: absolute;
  left: 5px;
  bottom: 35px;
  padding: 5px 0 0 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  transition: all 0.2s;
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 27px;
  height: 27px;
  border-radius: 50px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid transparent;
}

.color:hover {
  border: 1px solid black;
}

.note {
  position: relative;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}

.note:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.note .buttonContainer {
  opacity: 0;
  transition: all 0.2s;
}

.note:hover .buttonContainer {
  opacity: 1;
}

.noteTextWrapper p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px 20px;
  font-size: 20px;
  word-wrap: break-word;
}

.noteTextWrapper textarea {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.noteTitle,
.titleArea {
  font-weight: bold;
}

.open {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.open .note {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  height: max-content;
  margin: auto;
}

.open .buttonContainer {
  opacity: 1;
}

.blank {
  border: 1px solid #ddd;
  background-color: #fff;
}

.red {
  border: 1px solid transparent;
  background-color: rgb(238, 84, 84);
}

.green {
  border: 1px solid transparent;
  background-color: lightgreen;
}

.yellow {
  border: 1px solid transparent;
  background-color: rgb(255, 255, 68);
}

.blue {
  border: 1px solid transparent;
  background-color: lightskyblue;
}
.orange {
  border: 1px solid transparent;
  background-color: orange;
}
.violet {
  border: 1px solid transparent;
  background-color: violet;
}
.brown {
  border: 1px solid transparent;
  background-color: burlywood;
}
.pink {
  border: 1px solid transparent;
  background-color: pink;
}
.gray {
  border: 1px solid transparent;
  background-color: lightgray;
}

.hidden {
  display: none !important;
}

.fa-check {
  opacity: 0.25;
  pointer-events: none;
}

.chosen {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.chosen:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.chosen .svg-inline--fa {
  opacity: 1;
}

.sidebar {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nav-list {
  list-style: none;
  font-size: 30px;
  padding: 0;
}

.nav-list-item {
  padding: 20px;
  cursor: pointer;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.nav-list-item * {
  margin-right: 20px;
}

.nav-list-item .svg-inline--fa {
  opacity: 0.6;
  pointer-events: none;
}

.svg-inline--fa {
  pointer-events: none;
}

.nav-list-item:hover {
  background-color: #ccc;
}

.trashMessageBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trashMessageBox button {
  width: auto;
  margin-left: 30px;
}

.note-list {
  width: 500px;
  margin: 20px auto;
}

.changeNotification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  min-width: 300px;
  width: max-content;
  height: max-content;
  position: fixed;
  left: 30px;
  bottom: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #eee;
  padding: 20px 40px;
  z-index: 3;
}
